extends ./layout.pug
block content
  div.container.about
    div.contentBox
      div.about
        h2 안녕하세요
        br
        h1 Full-stack Web Developer <br /><br /> GTGalone 입니다
        h3 . . . . . .
        h3 Available Skill
        hr
        div.details
          div.col-sm-3
            ul Programming
              li Javascript
              li Pug(ex.Jade)
              li HTML5
              li JSP
              li Ejs
              li PHP
          div.col-sm-3
            ul Database
              li MongoDB
              li MySQL
          div.col-sm-3
            ul Framework
              li Nodejs
              li Expressjs
          div.col-sm-3
            ul Design UI&UX
              li CSS3
              li Bootstrap
              li Photoshop
        hr
        div.about.contact
          h1 Contact
          h3 Mobile: <a href="tel:010-3668-8512"> 010 . 3668 . 8512 </a>
          span 터지하세요(Touch) ▲
